
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #701a75;
    font-family: 'Helvetica';
    min-height: 100vh;
}

img {
    width: 20%;
    
}

ul > li {
    list-style: none;
    
}



p, h2, .sidebar-right-title {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;

      animation: pulsate 0.11s ease-in-out infinite alternate;    
}

.trending-container > ul {
    padding: 1em;
}

.trending-profile-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;
    padding: 0;
    padding: 0;
}

.trending-profile-card > img {
    width: 100%;
    margin-left: 1.2em;

}

.profileTag {
    margin-bottom: 0;
    
}

.profileQuote {
    font-size: 0.8em;
    opacity: 0.8;
}

.profilePic {
    border-radius: 30%;
}





/* Decoration */ 

.header, .announcements-container, .trending-container, .projects {
    background-color: #120320;
    box-shadow: 0 4px 2px -2px #e879f9;
    border-radius: 5px;
}

/* Grids */

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    grid-gap: 0.5em;
    grid-template-areas:
    
    "sidebar header header"
    "sidebar content content"
   ;
}

/* Header */
.header {
    grid-area: header;

    align-self: start;
    display: grid;
    grid-template-columns: 2fr 1.0fr;
    grid-template-rows: 2.5fr 2.5fr ;
    grid-template-areas:

    "search icons"
    "message navigation"

    ;
}
/* Searchbar */
.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr 8fr;

    color: black;
    
    grid-template-areas:
    "searchIcon searchBar"
}

.search-bar > input {
    grid-area: searchBar;
    
    color: black;
    align-self: center;
    height: 3em;
    width: 85%;
    border: none;
    
    background-color: #fae8ff;
    border-radius: 10px;

    box-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 7px var(--clr-neon),
    0 0 9px var(--clr-neon),
    0 0 12px var(--clr-neon),
    0 0 18px var(--clr-neon),
    0 0 20px var(--clr-neon);

    animation: pulsate 0.11s ease-in-out infinite alternate; 
}



.search-bar-img {
    grid-area: searchIcon;
    place-self: center;
    width: 40%;
}

/* Welcome-message */

.welcome-message {
    grid-area: message;

    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 2em;
    align-items: center;
    margin-bottom: 1em;
    
    grid-template-areas:
    "profileImg profileMes"

}

.profile-pic {
    grid-area: profileImg;

    width: 50%;
    border-radius: 50%;
    border: 3px solid var(--clr-neon);
    animation: border-pulsate 2s infinite;
}

.message {
    grid-area: profileMes;

    justify-self: start;
}

.message > h2 {
    margin-top: 0;
    padding-top: 0;
}

.message > p {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Side-icons */

.side-icons {   
    grid-area: icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.sidebar-right-bell {
    justify-self: end;
}

.sidebar-right-profile-pic {
    justify-self: center;
    width: 35%;
    border-radius: 50%;
    border: 1.5px solid var(--clr-neon);
    animation: border-pulsate 2s infinite;
}

.side-icons h3 {
    justify-self: start;
    font-size: 1.3em
}

/* Nav-buttons */

.nav-buttons {
    grid-area: navigation;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    
}

button {
    
    background: none;
    padding: 0.7em 1.2em;
}

.Btns-1,
.Btns-2,
.Btns-3 {
    margin-right:1em
}

/* Sidebar */


.sidebar {
    grid-area: sidebar;
    
}

ul {
    margin: 0;
    padding: 0;
}

.sidebar > div {
    padding-left: 0;
    
}
.my-dashboard {
    color: whitesmoke;
    font-size: 2em;
    font-weight: 400;
    margin: 1em 0 0.5em 1.4em;
    
}

.darshboard-personal {
    margin-bottom: 4em;
    
}

.sidebar > div > ul > li {
    
    font-size: 1.2rem;
    
    color: whitesmoke;
    border-bottom: hsl(317 100% 54%) 2px solid;
    padding-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em; 

}

.sidebar > div > ul > li >img {
    width: 15%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    position: relative;
    top: 5px;
}

/* Content */

.projects-title , .trending-title{
    font-size: 1.5em;
    margin: 1em 0.8em 0.5em;
    color: whitesmoke
}
h4 {
    color: whitesmoke
}

.content {
    grid-area: content;

    align-self: center;
    
    grid-template-columns: 3fr 1fr;
    display: grid;
    grid-gap: 5px;

}

.card-container {
    border-radius: 5px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    background-color: #120320;
}

.card {
    padding: 20px;
    margin: 0 0.8em;
    border-left: 0.7em #0fa solid;
    background-color: rgba(0, 253, 253, 0.05);

    display: grid;
    grid-template-rows: 1fr 2fr;
    
}

.content-icons {
    
    text-align: right;
    
}

.star, .eye, .fork {
    width: 7%;
    margin-right: 1em;
}

.sidebar > div > ul > li:hover {
    background: #120320;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
    border: none;
    box-shadow:
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 15px var(--clr-neon),
    0 0 30px var(--clr-neon),
    0 0 42px var(--clr-neon),
    0 0 60px var(--clr-neon),
    0 0 79px var(--clr-neon);
}

.trending {
    color: white
}

.announcements-title {
    color: whitesmoke;
    font-size: 1.5em;
    margin: 1em 0.8em 0.5em;
}

.trending-container {
    background-color: #120320;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.announcements-title, .trending-title, .projects-title {
    text-shadow: 2px 2px #120320;
}

.announcements-container {
    padding: 1em;
}

/* Additional */


input:focus {
    
    outline: none;
    box-shadow:
      0 0 2px #fff,
      0 0 5px #fff,
      0 0 7px #fff,
      0 0 15px var(--clr-neon),
      0 0 30px var(--clr-neon),
      0 0 42px var(--clr-neon),
      0 0 60px var(--clr-neon),
      0 0 79px var(--clr-neon);

      animation: pulsate 0.11s ease-in-out infinite alternate; 
}

.search-bar > input, select, textarea {
    color: black;

}

textarea:focus, input:focus {
    color: black;
    padding-left: 1em;
    font-size: 1.2em
}


.neon-button {
    
  
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
   
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  

  
  .neon-button:hover,
  .neon-button:focus,
  input:focus {
    color: #fff;
    text-shadow:
      0 0 7px var(--clr-neon),
      0 0 10px var(--clr-neon),
      0 0 21px var(--clr-neon),
      0 0 42px var(--clr-neon),
      0 0 82px var(--clr-neon),
      0 0 92px var(--clr-neon),
      0 0 102px #0fa,
      0 0 151px #0fa;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  




  @keyframes border-pulsate {
    0%   { border-color: var(--clr-neon); }
    50%  { border-color: rgba(0, 255, 255, 0); }
    100% { border-color: var(--clr-neon); }
}

/* Media */

@media (min-width: 800px) {
    .container {
        margin: 0 10em;
    } 
}